@import "tailwindcss";

:root {
  --background: #8fc9de;
  --foreground: #1f3d2a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-space);
  --font-display: var(--font-lilita);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space), sans-serif;
}
